services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    network_mode: "host"
    volumes:
      - ./config:/config
      - ./cache:/cache
      - type: bind
        source: /mnt/hdd1/media
        target: /media
      - type: bind
        source: /mnt/hdd1/media2
        target: /media2
        read_only: true
      - /mnt/hdd1/seafile/seafile-fuse:/seafile-fuse:ro
    restart: "unless-stopped"
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=${JELLYFIN_URL}
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - "host.docker.internal:host-gateway"
