services:
  streamer:
    container_name: streamer
    image: linuxserver/ffmpeg:latest
    restart: always
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - "9998:9998/udp"
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,video
      - TWITCH_KEY=${TWITCH_KEY}
      - YOUTUBE_KEY=${YOUTUBE_KEY}
    volumes:
      - /tmp:/tmp
      - ./entrypoint.sh:/entrypoint.sh:ro
    entrypoint: ["/bin/bash", "/entrypoint.sh"]
