include:
  - ./immich/compose.yml
  - ./jellyfin/compose.yml
  - ./seafile/compose.yml
  - ./umami/compose.yml

name: home-server

services:
  ##############################OLLAMA##############################
  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    runtime: nvidia # Important for using NVIDIA runtime
    ports:
      - "${OLLAMA_PORT:-11434}:11434" # Expose the API port
    volumes:
      - ./ollama:/root/.ollama
    restart: "unless-stopped"

  ##############################STREAMER##############################
  streamer:
    container_name: streamer
    image: linuxserver/ffmpeg:latest
    restart: always
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - "${SRT_PORT:-9998}:9998/udp"
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,video
    command: >
      -i "srt://0.0.0.0:9998?mode=listener&latency=${SRT_LATENCY:-3000}"
      -fflags +genpts+discardcorrupt
      -map 0:v -map 0:a -c:v h264_nvenc -preset:v ${NVENC_PRESET:-p6} -b:v ${TWITCH_BITRATE:-6000k} -bufsize:v ${TWITCH_BUFSIZE:-12000k} -g ${TWITCH_GOP:-120} -keyint_min ${TWITCH_GOP:-120} -c:a copy -f flv rtmp://ingest.global-contribute.live-video.net/app/${TWITCH_KEY}
      -map 0:v -map 0:a -c:v copy -c:a copy -f flv rtmp://a.rtmp.youtube.com/live2/${YOUTUBE_KEY}
    volumes:
      - /tmp:/tmp

volumes:
  umami-db-data:
